@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 210, 210, 220;
}

body {
  color: rgb(var(--foreground-rgb));
  background:  #ddeaff;
}

/* rgb(37, 112, 234) */